meta:
  engine: 4.1.0
units:
  x: 17
  y: 17
  kx: cx
  ky: cy
  px: kx + 2
  py: ky + 2
points:
  zones:
    matrix:
      key:
        spread: 17
        padding: 17
      anchor:
        rotate: 8
        shift: [ 100,-100]
      columns:
        outer:
          key.col_net: P4
          key.mirror.col_net: P9
        pinky:
          key.col_net: P5
          key.mirror.col_net: P8
        ring:
          key.splay: -5
          key.origin: [-12, -19]
          key.stagger: 12
          key.col_net: P6
          key.mirror.col_net: P7
        middle:
          key.splay: -4
          key.spread: 18
          key.stagger: 5
          key.col_net: P7
          key.mirror.col_net: P6
        index:
          key.stagger: -6
          key.col_net: P8
          key.mirror.col_net: P5
        inner:
          key.stagger: -2
          key.col_net: P9
          key.mirror.col_net: P4
      rows:
        bottom:
          row_net: P2
        home:
          row_net: P1
        top:
          row_net: P0
    thumbfan:
      anchor:
        ref: matrix_inner_bottom
        shift: [-18, -18]
      columns:
        near:
          key.col_net: P7
          key.mirror.col_net: P6
        home:
          key.spread: 17
          key.splay: -5
          key.origin: [-11.75, -9]
          key.col_net: P8
          key.mirror.col_net: P5
        far:
          key.spread: 17
          key.splay: -15
          key.origin: [-9.5, -9]
          key.col_net: P9
          key.mirror.col_net: P4
      rows:
        thumb:
          row_net: P3

  rotate: -20
  mirror:
    ref: matrix_pinky_home
    distance: 11kx
outlines:
  raw_cutouts:
    - what: rectangle
      where: true
      size: [16,16]
  keys:
    - what: rectangle
      where: true
      size: [ kx-0.5,ky-0.5]
  board_left:
    - what: polygon
      operation: stack
      points:
        - ref: matrix_outer_bottom
          shift: [ -0.5px,-0.5py]
        - ref: matrix_outer_top
          shift: [-0.5px, +0.5py]
        - ref: matrix_pinky_top
          shift: [-0.5px,+0.5py]
        - ref: matrix_ring_top
          shift: [-0.5px, +0.5py]
        - ref: matrix_middle_top
          shift: [-0.5px, +0.5py]
        - ref: matrix_middle_top
          shift: [ 0.5px,0.5py]
        - ref: matrix_index_top
          shift: [0.5px,0.5py]
        - ref: matrix_index_top
          shift: [ 1px,0.5py]
        - ref: matrix_index_top
          shift: [2.412px, 0.5py]
        - ref: thumbfan_far_thumb
          shift: [0.51px,0.5py]
        - ref: thumbfan_far_thumb
          shift: [ 0.5px, -0.5py]
        - ref: thumbfan_far_thumb
          shift: [ -0.5px, -0.5py]
        - ref: thumbfan_home_thumb
          shift: [ -0.5px,-0.5py]
        - ref: thumbfan_near_thumb
          shift: [ -0.5px, -0.5py]
        - ref: matrix_middle_bottom
          shift: [-0.5px,-1.3py]
        - ref: matrix_ring_bottom
          shift: [-0.44px,-1.10py]
      fillet: 2
  board_right:
    - what: polygon
      operation: stack
      points:
        - ref: mirror_matrix_outer_bottom
          shift: [ -0.5px,-0.5py]
        - ref: mirror_matrix_outer_top
          shift: [-0.5px, +0.5py]
        - ref: mirror_matrix_pinky_top
          shift: [-0.5px,+0.5py]
        - ref: mirror_matrix_ring_top
          shift: [-0.5px, +0.5py]
        - ref: mirror_matrix_middle_top
          shift: [-0.5px, +0.5py]
        - ref: mirror_matrix_middle_top
          shift: [ 0.5px,0.5py]
        - ref: mirror_matrix_index_top
          shift: [0.5px,0.5py]
        - ref: mirror_matrix_index_top
          shift: [ 1px,0.5py]
        - ref: mirror_matrix_index_top
          shift: [2.412px, 0.5py]
        - ref: mirror_thumbfan_far_thumb
          shift: [0.51px,0.5py]
        - ref: mirror_thumbfan_far_thumb
          shift: [ 0.5px, -0.5py]
        - ref: mirror_thumbfan_far_thumb
          shift: [ -0.5px, -0.5py]
        - ref: mirror_thumbfan_home_thumb
          shift: [ -0.5px,-0.5py]
        - ref: mirror_thumbfan_near_thumb
          shift: [ -0.5px, -0.5py]
        - ref: mirror_matrix_middle_bottom
          shift: [-0.5px,-1.3py]
        - ref: mirror_matrix_ring_bottom
          shift: [-0.44px,-1.10py]
      fillet: 2

  board_retract_left:
    - what: outline           
      name: board_left            
      expand: -1                
      fillet: 2

  board_retract_right:
    - what: outline           
      name: board_right            
      expand: -1        
      fillet: 2
  board_expand_left:                
    - what: outline           
      name: board_left            
      expand: 1.5                
      fillet: 2

  board_expand_right:                
    - what: outline           
      name: board_right            
      expand: 1.5                
      fillet: 2

  frontplate_left:
    - name: board_left
    - operation: subtract
      name: raw_cutouts
  frontplate_right:
    - name: board_right
    - operation: subtract
      name: raw_cutouts
pcbs:
  left:
    template: kicad8
    outlines:
      main:
        outline: board_left
    footprints:
      pg1316_switches:
        what: custom/pg1316s
        where: /^(matrix|thumbfan)_/
        params:
          reversible: true
          from: "{{col_net}}"
          to: "{{colrow}}"
      diode:
        what: ceoloide/diode_tht_sod123
        where: /^(matrix|thumbfan)_/
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
          side: "F"
          include_traces_vias: true
          reversible: true
        adjust: 
          shift: [ 0,2.7]
      mcu:
        what: custom/xiao_nRF52840_new
        params:
          NFCPADS: false
        where:
          - ref: matrix_inner_top
          - shift: [20, 0.7]
      reset:
        what: custom/reset_switch_modified
        params:
          from: GND
          to: RST
        where:
          - ref: matrix_pinky_top
          - shift: [5.7, 0.7py]
          - rotate: 28
      battery:
        what: custom/battery_connector_modified
        params:
          include_silkscreen: true
          reversible: true
          include_courtyard: false
          side: "F"
          BAT_P: BAT_P
          BAT_N: GND
        where:
          - ref: matrix_inner_top
          - shift: [0.7px, -0.6py]
      power:
        what: ceoloide/power_switch_smd_side
        params:
          reversible: true
          from: BAT_P
          to: RAW
        where:
          - ref: matrix_index_top
          - shift: [-2.8,0.645py]
          - rotate: 71
      holeCompartment:
        what: ceoloide/mounting_hole_npth
        where:
          ref: [thumbfan_far_thumb]
          shift: [0.25px,0.65py]
      holeTopLeft:
        what: ceoloide/mounting_hole_npth
        where:
          - ref: [matrix_ring_top]
          - shift: [0.43px, 0.61py]
      holeBottomLeft:
        what: ceoloide/mounting_hole_npth
        where:
          - ref: [matrix_ring_bottom]
          - shift: [0px,-0.68py]
      holeBottomRight:
        what: ceoloide/mounting_hole_npth
        where:
          - ref: [matrix_middle_bottom]
          - shift: [-0.1px,-1py]

     
  right:
    template: kicad8
    outlines:
      main:
        outline: board_right
    footprints:
      pg1316_switches:
        what: custom/pg1316s
        where: /^mirror_(matrix|thumbfan)_/
        params:
          from: "{{col_net}}"
          to: "{{colrow}}"
      diode:
        what: ceoloide/diode_tht_sod123
        where: /^mirror_(matrix|thumbfan)_/
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
          side: "F"
          include_traces_vias: true
          reversible: true
        adjust: 
          shift: [ 0,2.7]
      mcu:
        what: custom/xiao_nRF52840
        params:
          NFCPADS: false
        where:
          - ref: mirror_matrix_inner_top
          - shift: [20, 0.7]
      reset:
        what: ceoloide/reset_switch_tht_top
        params:
          from: GND
          to: RST
        where:
          - ref: mirror_matrix_pinky_top
          - shift: [5.7, 0.7py]
          - rotate: 28
      battery:
        what: ceoloide/battery_connector_jst_ph_2
        params:
          side: "F"
          BAT_P: BAT_P
          BAT_N: GND
        where:
          - ref: mirror_matrix_inner_top
          - shift: [0.7px, -0.6py]
      power:
        what: ceoloide/power_switch_smd_side
        params:
          from: BAT_P
          to: RAW
        where:
          - ref: mirror_matrix_index_top
          - shift: [-2, 0.62py]
          - rotate: 251


